body {
    margin: 0;
}

.yogastudio {
    display:flex;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/waves-desktop.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
}

.lady, .menu {
    flex-grow: 1;
}

.lady {
    background-image: url(assets/lotus-position.svg);
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: center;
    width: 50%;
}

.menu {
    display: flex;
    flex-direction: column;
}

/* .top, .bottom {
    flex-grow: 1;
} */

.top {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 20px;
}

.bottom {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 400px;
    align-self: center;
}

.yogastudiotitle {
    font-size: 30px;
    font-weight: bold;
    color: #506279;
    margin: 0;
}

.getfit {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttoncontainer {
    display: flex;
    column-gap: 10px;
}

.joinnow, .viewschedule {
    flex-grow: 1;
    height: 30px;
    border-width: 0;
    border-radius: 5px;
}

.joinnow {
    background-color: #F88CAC;
    color: #FFFFFF;
}

.viewschedule {
   background-color: #E9F0FD; 
}